/* LAYOUT */

body {
  margin: 0 auto;
  padding: 40px;
}

.viz-title {
  margin-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.graph-intro {
  max-width: 600px;
  margin-bottom: 30px;
}


/* FORMS */

.year-select {
  margin-bottom: 20px;
  float: right;
}

.year-select-label {
  display: inline;
}

/* Viz */
.viz-mod {
  display:flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font-weight: 300;
}

.country-select-mod {
  /*margin-right: 20px;*/
  width: 200px;
  order: 1;
  border-right: 2px solid #ddd;
}

.country-select {
  margin-bottom: 20px;
}

.partner-text-wrap {
  position: absolute;
  order: 3;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 0;
}

.partner-text {
  position: absolute;
}

.partner-text-name,
.partner-text-detail {
  margin: 0 0 10px;
  font-weight: 300;
}

.partner-text-name {
  font-weight: 700;
}

.partner-text-detail {
  color: gray;
}

.viz-wrap {
  order: 2;
}

.trade-line {
  stroke: #ddd;
  stroke-width: 2px;
}

.import-line {
  marker-end: url(#marker-destination);
  /*marker-start: url(#marker-origin);*/
}

.export-line {
  marker-end: url(#marker-destination);
  marker-start: url(#marker-origin);
}

.marker-origin {
  stroke: #ddd;
  stroke-width: 2px;
}

.marker-destination {
  fill: #ddd;
}

.icon {
  fill: black;
  stroke: black;
  stroke-width: 2px;
}


