/* LAYOUT */

body {
  margin: 0 auto;
  padding: 40px;
}

p {
  line-height: 135%;
}

.page-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.head-wrap {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.viz-title {
  margin-top: 0px;
  display: inline;
}

.viz-form {
  float: right;
  margin-top: 4px;
}

.country-select {
  margin-right: 5px;
}

.intro-wrap {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-start;
  margin-bottom: 30px;
}

.graph-intro {
  max-width: 600px;
}

.graph-intro:first-child {
  margin-right: 20px;
}


/* Viz */
.viz-mod {
  display:flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font-weight: 300;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.country-details-mod {
  width: 200px;
  order: 1;
  border-right: 2px solid #ddd;
}

.country-name {
  margin: 0 0 4px;
  font-weight: 700;
}

.partner-text-wrap {
  position: absolute;
  order: 3;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 0;
}

.partner-text {
  position: absolute;
}

.partner-text-detail {
  margin: 0;
  font-weight: 300;
  color: gray;
}

.viz-wrap {
  order: 2;
}

.trade-line {
  stroke: #ddd;
  stroke-width: 2px;
}

.import-line {
  marker-end: url(#marker-destination);
}

.marker-origin {
  stroke: #ddd;
  stroke-width: 2px;
}

.marker-destination {
  fill: #ddd;
}

.icon {
  fill: black;
  stroke: black;
  stroke-width: 2px;
}


