/* LAYOUT */

body {
	margin: 0 auto;
	padding: 40px;
}


/* FORM */

form {
	margin-bottom: 20px;
}

fieldset {
	border-width: 0;
	padding-left: 0;
}

legend {
	display: inline-block;
	font-weight: 700;
}

label:not(:first-of-type) {
	margin-left: 10px;
}

.slider {
	margin: 0;
}

.slider-label {
	color: lightgray;
	margin: 0;
	vertical-align: 2px;
}

.table-chk, .table-radio-agg {
	margin-right: 5px;
}

.table-chk {
	vertical-align: 1.5px;
}


/* TABLE */

caption {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: left;
}

table {
	border: 1px solid gray;
	border-collapse: collapse;
}

table .tbody-row-is-agg {
	display: none;
}

.agg-continents .tbody-row-no-agg {
	display: none;
}

.agg-continents .tbody-row-is-agg {
	display: table-row;
}

.thead-th {
	border: 1px solid gray;
	padding: 4px;
	font-weight: 700;
	cursor: n-resize;
}

.col-ascending {
	cursor: s-resize;
}

.col-ascending:after {
	content: "↑";
	font-size: 12px;
}

.col-descending {
	cursor: n-resize;
}

.col-descending:after {
	content: "↓";
	font-size: 12px;
}

td {
	padding: 4px 4px 3px;
	border: 1px solid gray;
}

tbody tr:nth-child(odd) {
   background-color: #eeeeee;
}

tbody tr:hover {
	background-color: yellow;
}

.table-row-exclude.table-row-exclude {
	display: none;
}

td:nth-child(1),
td:nth-child(2) {
	text-align: center;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
	text-align: right;
}



/*Bar chart*/
rect {
  fill:teal;
  fill-opacity:.8;
}


