/* LAYOUT */

body {
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
	padding: 40px;
}


/* FORM */

form {
	margin-bottom: 20px;
}

fieldset {
	border-width: 0;
}

legend {
	display: inline-block;
	font-weight: 700;
}

label {
	margin-right: 10px;
}

input {
	margin-left: 5px;
}


/* TABLE */

caption {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

table {
	border: 1px solid gray;
	border-collapse: collapse;
	margin: 0 auto;
}

.thead-th {
	border: 1px solid gray;
	padding: 4px;
	font-weight: 700;
	cursor: pointer;
}

.col-ascending {
	cursor: s-resize;
}

.col-ascending:after {
	content: "↑";
	font-size: 12px;
}

.col-descending {
	cursor: n-resize;
}

.col-descending:after {
	content: "↓";
	font-size: 12px;
}

td {
	padding: 4px 4px 3px;
	border: 1px solid gray;
}

tbody tr:nth-child(odd) {
   background-color: #eeeeee;
}

tbody tr:hover {
	background-color: yellow;
}

.table-row-exclude {
	display: none;
}

td:nth-child(1),
td:nth-child(2) {
	text-align: center;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
	text-align: right;
}


