caption {
	padding: 8px;
	border: 1px solid gray;
}

table {
	border: 1px solid gray;
	border-collapse: collapse;
}

th {
	border: 1px solid gray;
	padding: 4px;
	font-weight: 700;
}

.col-ascending {
	color: green;
	cursor: s-resize;
}

.col-ascending:after {
	content: "↑";
	font-size: 12px;
}

.col-descending {
	color: red;
	cursor: n-resize;
}

.col-descending:after {
	content: "↓";
	font-size: 12px;
}

tr {
	
}

td {
	padding: 4px 4px 3px;
	border: 1px solid gray;
}

tbody tr:nth-child(odd) {
   background-color: #eeeeee;
}

td:nth-child(1),
td:nth-child(2) {
	text-align: center;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
	text-align: right;
}
