body {
    font-family: 'PT Sans', sans-serif;
}

.chart-hed {
    margin-bottom: 20px;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

.bar-rect {
    opacity: 0.25;
}

.stacked-bar-rect {
    cursor: pointer;
    opacity: 0.25;
}

.stacked-bar-rect.is-hovered {
    opacity: 1;
}

.stacked-viz {
  display: inline-block;
}

.bar-info-wrap {
    margin-top: 15px;
}

.bar-info {
    line-height: 1em;
}

.bar-label-mod {
    display: inline-block;
    width: 150px;
    text-align: right;
    vertical-align: bottom;
    line-height: 1em;
    margin: 6px 10px 0 0;
}

.bar-label:first-child {
    margin-bottom: 25px;
}

.bar-label-name {
    margin-bottom: 5px;
}

.bar-label-votes {
    color: gray;
}
